{% extends 'base.html' %}
{% block element %}

<div class="container">
    <div class="col-12 mb-3 bg-light p-3">
        Editing Task: {{ task.task_title }}
    </div>

    <form method="POST">
        {% csrf_token %}
        <div class="form-floating mb-3">
            <label for="task"></label>


            <input type="text" class="form-control" id="task" name="task" value="{{task.task_title}}" placeholder="update new task">

        </div>
        <div>


            <textarea name="description" id="description" cols="30" rows="10"
                placeholder="update description here"> {{ task.task_description }}</textarea>
        </div>
        <div class="text-center">
            <button class="btn btn-sm btn-warning" type="submit">save </button>
        </div>

    </form>
</div>

<script>
    var editor1 = new RichTextEditor("#description");
</script>



{% endblock element  %}